/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    background-color: #111111;
    color: white;
}

.table {
    color: dimgray;
}

.btn.btn-link {
    border: 2px solid #5058f4;
    border-radius: 10px;
    color: #5058f4;
    text-decoration: none;
}

.row-delete-bttn {
    display: flex;
    align-self: center;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    color: #F60062;
}

.notice:not(:empty) {
    margin: 10px 0px;
    border: lawngreen 2px solid;
    padding: 5px;
    border-radius: 10px;
}

.alert:not(:empty) {
    margin: 10px 0px;
    border: indianred 2px solid;
    padding: 5px;
    border-radius: 10px;
}


.clickable-row {
    border-radius: 10px;
    margin: 10px 10px;

}

table {
    color: white;
}

table>thead {
    color: dimgray;
}

table>thead>:first-child>* {
    border-bottom: none !important;
}


table>tbody>* {
    border-top: #5058f4 1px solid !important;
    border-bottom: #5058f4 1px solid !important;
    color: white;
}


table>tbody>:first-child>* {
    border-top: none;
}

.clickable-row>*:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

}

.clickable-row>*:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

}

.clickable-row:hover {
    background-color: white;
    cursor: pointer;
    color: dimgray;
}

.clickable-row>a {
    background-color: transparent !important;
}