// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import url('https://fonts.googleapis.com/css?family=Montserrat');


body {
    background-color: #111111;
    height: 100vh;
}

.notice {
    color: #ffc107;
}

/*#region glitch*/
#glitch-container1 {
    position: relative;
    margin: auto;
    overflow: hidden;
    background-image: url(../src/fingerPrint.png);
    background-size: contain;
    background-position: inherit;
    background-attachment: fixed;
    background-repeat: no-repeat;

}

.glitch-img1 {
    position: relative;
    background-image: url(../src/fingerPrint.png);
    background-color: #111111;
    background-size: contain;
    background-position: inherit;
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow: hidden;
}

.glitch-container {
    margin: auto;
    background-color: #111111;
    height: 100vh;
}

img.glitch-img {
    width: 300px;
    top: 100px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    opacity: 0.5;
    filter: invert(48%) sepia(13%) saturate(32507%) hue-rotate(130deg) brightness(95%) contrast(80%);

}

.glitch {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

/*#endregion glitch*/

/* #region TypeWriter */

.typewriter-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.typewriter-container p.static-typed-text {
    font-size: 3rem;
    padding: 0.5rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    text-align: center;
    overflow: hidden;
}

div.typewriter-container p.static-typed-text span.typed-text {
    font-weight: normal;
    color: #5058f4;
    // color: purple;

}

div.typewriter-container p.static-typed-text span.cursor {
    display: inline-block;
    background-color: #5058f4;

    // background-color: purple;
    margin-left: 0.1rem;
    width: 3px;
    animation: blink 1s infinite;
}

div.typewriter-container p.static-typed-text span.cursor.typing {
    animation: none;
}

@keyframes blink {
    0% {
        // background-color: purple;
        background-color: #5058f4;
    }

    49% {
        // background-color: purple;-
        background-color: #5058f4;
    }

    50% {
        background-color: transparent;
    }

    99% {
        background-color: transparent;
    }

    100% {
        // background-color: purple;
        background-color: #5058f4;
    }
}

/* #endregion TypeWriter */